/* Tablet */
@media (max-width: 1000px) {
    .lesson{
    width:50%;
  }
  .heading h2{
    font-size:20px;
  }
  .contact-form .section-title {
    margin-bottom: 30px;
  }

  .contact-form p {
    font-size: 14px;
  }

  input, textarea {
    font-size: 14px;
    padding: 14px 6px 14px 14px;
    margin-bottom: 7px;
  }

  .fill .contact-submit {
    width: 98%;
    box-shadow: 3px 3px 5px #223e53,
    -3px -3px 5px #fff;
  }

  .contact-submit:active {
    box-shadow: 0px 0px 4px #223e53,
    -2px -2px 4px #fff;
  }
}

/* Smartphone */
@media (max-width: 670px) {
.lesson{
    width:100%;
  }
  footer {
    text-align : center;
  }
  .contact-form .section-title {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .contact-form p {
    font-size: 13px;
  }

  input, textarea {
    width: 97%;
    font-size: 13px;
    padding: 12px 2px 12px 13px;
    margin-bottom: 2px;
    border-radius: 18px;
  }

  input:hover {
    border-radius: 32px;
  }

  textarea:hover {
    border-radius: 20px;
  }

  .fill .contact-submit {
    width: 97%;
    box-shadow: 2px 2px 4px #223e53,
    -2px -2px 4px #fff;
  }

  .fill .contact-submit {
    margin-bottom: 25px;
  }

}